<div id="formulaire_connexion">
  <div class="ui inverted vertical masthead center aligned segment teal">
    <div class="ui text container">
      <h1 class="ui header"><%= t('sessions.nouvelle.titre') %></h1>
      <p><%= t('sessions.nouvelle.conseil') %>
      <%= form_tag({controller: 'sessions', action: 'create'}, method: 'post', class:'ui form' ) do %>
      <div class="field">
        <%= label_tag :numero_fiscal %>
        <%= text_field_tag :numero_fiscal %>
      </div>
      <div class="field">
        <%= label_tag :reference_avis %>
        <%= text_field_tag :reference_avis %>
      </div>
      <%= submit_tag t('sessions.nouvelle.action'), class:'ui huge primary button' %>
      <% end %>
    </div>
  </div>
</div>
<% if ENV["RESET"] == "true" %>
  <div class="ui">
    Pour simuler le fait d'être un demandeur habitant dans les Vosges : 88 / 1588
    <br>Pour simuler le fait d'être un demandeur habitant dans le Val d'Oise : 95 / 1595
  </div>
<% end %>
