<div class="main ui container top">
  <%= affiche_erreurs_avec_cle @occupant, t('occupants.messages.erreur') %>
  <h1 class="ui header"><%= t('occupants.edition.titre', occupant: @occupant.to_s) %></h1>
  <%= form_for [@projet, @occupant], url: { action: 'update'}, html: { class:'ui form'} do |f| %>
      <div class="field">
        <%= f.label :civilite %>
        <%= f.select :civilite, Occupant.civilites.keys %>
      </div>
      <div class="field">
        <%= f.label :nom %>
        <%= f.text_field :nom %>
      </div>
      <div class="field">
        <%= f.label :prenom %>
        <%= f.text_field :prenom %>
      </div>
      <div class="field">
        <%= f.label :date_de_naissance %>
        <%= f.date_field :date_de_naissance %>
      </div>
      <div class="field">
        <%= f.label :lien_demandeur %>
        <%= f.text_field :lien_demandeur %>
      </div>
    <%= f.submit I18n.t('occupants.edition.action', occupant: @occupant.to_s), class:'ui primary button' %>
  <% end %>
</div>
