<div class="ui card">
  <div class="content">
    <div class="header"><%= intervenant.raison_sociale %></div>
    <div class="meta">
      <% intervenant.roles.each do |role| %>
        <div class="ui label">ROLE :<%= role %></div>
      <% end if intervenant.roles.present? && @utilisateur_courant.is_a?(Intervenant) %>
    </div>
    <div class="meta"><%= intervenant.adresse_postale %></div>

    <div class="description"><%= simple_format(intervenant.informations) %></div>
  </div>
  <div class="extra content">
    <% intervenant.themes.each do |theme| %>
      <div class="ui label"><%= theme %></div>
    <% end if intervenant.themes.present? %>
  </div>
  <% if avec_appel_a_agir %>
  <div class="extra content">
    <% if @utilisateur_courant.is_a? Intervenant %>
      <%= form_tag(invitations_path(projet_id: projet.id, intervenant_id: intervenant.id), method: 'post', class:'ui form' ) do %>
        <%= hidden_field_tag :jeton, params[:jeton] if params[:jeton] %>
        <%= submit_tag t('projets.visualisation.mise_en_relation_intervenant'), class:'ui primary button' %>
      <% end %>

    <% else %>

      <%= link_to t("projets.visualisation.invitation_intervenant"), new_invitation_path(projet, intervenant.id), class:"ui basic green button" %>
    <% end %>
  </div>
  <% end %>
</div>
