<div class="main ui container top">
  <h1 class="ui header"><%= t('projets.edition.titre') %></h1>
  <p><%= t('projets.edition.description') %>
  	<%= form_for @projet_courant, url: { action: 'update'}, html: { class:'ui form'} do |f| %>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :adresse %>
        <%= f.text_field :adresse %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :tel %>
        <%= f.text_field :tel %>
      </div>
      <%= f.submit t('projets.edition.action'), class:"ui primary button" %>
  <% end %>
</div>
