<script>
  function displayForm() {
    $('#nouveau-contact-modal').modal('show');
  }
</script>
<div id="nouveau-contact-modal" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Ajout d'un contact
  </div>
  <div class="image content">
    <div class="ui medium image">
      <%= image_tag('avatar/large/kristy.png') %>
    </div>
    <div class="description">
      <div class="ui header">Merci de nous en dire plus sur le contact à ajouter</div>
      <%= form_for([@projet, @contact], html: { class:'ui form' }) do |f| %>
        <div class="field">
          <%= f.label :nom %>
          <%= f.text_field :nom, placeholder: "Jean Marin" %>
        </div>
        <div class="inline fields">
          <label>Rôle</label>
          <div class="field">
            <div class="ui radio checkbox">
              <%= f.radio_button :role, "syndic" %>
              <%= f.label "Syndic" %>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <%= f.radio_button :role, "operateur" %>
              <%= f.label "Operateur" %>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <%= f.radio_button :role, "financeur" %>
              <%= f.label "Financeur" %>
            </div>
          </div>
        </div> 
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, placeholder: "Jean@marin.com" %>
        </div>
        <div class="field">
          <textarea name="nouveau_contact_message" placeholder="J'attends de vous..."></textarea>
        </div>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">Annuler</div>
    <button class="ui positive right labeled icon button">J'invite ce nouveau contact<i class="add user icon"></i></button>
  </div>
</div>
<div class="ui icon success message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
      Projet de <%= @projet.owner %>
    </div>
    <p> 
      Félicitations ! Votre projet démarre aujourd'hui. Le tableau de bord récapitule les acteurs à ce jour 
    </p>
  </div>
</div>
<div class="ui cards">
<div class="ui card">
  <div class="content">
    <div class="header"><%= @projet.owner %></div>
    <div class="meta"><%= @projet.address %></div>
    <div class="description"><%= @projet.description %></div>
  </div>
</div>
<div class="ui card">
  <div class="content">
    <div class="header">Nouveau contact</div>
    <div class="description">
      <button class="ui primary button visible content" onclick="displayForm();"><i class="add circle icon"></i>J'ajoute un contact</button>
    </div>
  </div>
</div>
<div class="ui card">
  <div class="content">
    <div class="header">Operateur URBANOS</div>
    <div class="meta">Operateur Ile-de-France</div>
    <div class="description">
      URBANIS va vous accompagner
    </div>
  </div>
</div>
<div class="ui card">
  <div class="content">
    <div class="header">ANAH</div>
    <div class="meta">Financeur</div>
    <div class="description">L'agence nationale de l'Habitat (ANAH) va financer en partie votre projet. </div>
  </div>
</div>
</div>

<h4 class="ui horizontal divider header"><i class="map icon"></i> Carte</h4>
<div class="ui container eight wide column">
<div id="mapid"></div>
</div>
