<div class="ui grid">
  <div class="twelve wide column">

    <h2 class="ui horizontal divider header"><i class="tag icon"></i><%= t('projets.visualisation.titre_description_projet') %></h2>

    <table class="ui definition table">
      <tbody>
        <tr>
          <td>Demandeur principal</td>
          <td><%= @projet_courant.usager %></td>
        </tr>
        <tr>
          <td>Adresse du logement à rénover</td>
          <td><%= @projet_courant.adresse %></td>
        </tr>
        <% if @utilisateur_courant.is_a? Occupant %>
        <tr>
          <td>Email de contact</td>
          <td><%= @projet_courant.email %></td>
        </tr>
        <% end %>
        <tr>
          <td>Le projet</td>
          <td><%= @projet_courant.description %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to t('projets.visualisation.lien_edition_projet'), edit_projet_path(@projet_courant), class: "ui primary button" if @role_utilisateur == :demandeur %>

    <h3 class="ui horizontal divider header">
      <i class="users icon"></i>
      <%= t("projets.visualisation.titre_section_composition", count: @projet_courant.nb_total_occupants) %>
    </h3>

          <ul>
            <% @projet_courant.occupants.each do |occupant| %>
              <li>
                <%= link_to occupant.to_s, edit_projet_occupant_path(@projet_courant, occupant) %>
                <%= "(#{l(occupant.date_de_naissance)})" %>
                <% if occupant.demandeur %> <div class="ui label">Demandeur</div><% end %>
              </li>
            <% end %>
          </ul>
          <div>
            <% if @projet_courant.nb_occupants_a_charge > 0 %>
              <%= t("projets.visualisation.occupants_a_charge", count: @projet_courant.nb_occupants_a_charge) %>
            <% end %>
          </div>

        <%= link_to t('projets.visualisation.lien_ajout_occupant'), new_projet_occupant_path(@projet_courant), class: "ui primary button" if @role_utilisateur == :demandeur %>
        <%= link_to t('projets.visualisation.modifier_list_occupant'), edit_projet_composition_path(@projet_courant), class: "ui primary button" if @role_utilisateur == :demandeur %>

    <% if @projet_courant.intervenants.present? %>
      <h2 class="ui horizontal divider header">Intervenants invités</h2>
      <div class="ui cards invites">
        <% @projet_courant.intervenants.each do |intervenant| %>
          <%= render partial: 'intervenant', locals: {projet: @projet_courant, intervenant: intervenant, avec_appel_a_agir: false} %>
        <% end %>
      </div>
    <% end %>

    <% if @intervenants_disponibles.present? %>
      <h2 class="ui horizontal divider header">Intervenants disponibles</h2>
      <div class="ui cards disponibles">
        <% @intervenants_disponibles.each do |intervenant| %>
          <%= render partial: 'intervenant', locals: {projet: @projet_courant, intervenant: intervenant, avec_appel_a_agir: true} %>
        <% end %>
      </div>
    <% end %>

    <h2 class="ui horizontal divider header"><i class="comments icon"></i>Conversations autour du projet</h2>
    <%= render 'commentaires' %>

    <h2 class="ui horizontal divider header"><i class="map icon"></i> Carte</h2>
    <div class="ui container eight wide column">
      <div id="mapid"></div>
    </div>
  </div>

  <div class="four wide column">
    <h2><%= t('projets.visualisation.titre_fil_actualite') %></h2>
      <div class="ui feed">

        <% @projet_courant.evenements.each do |evenement| %>

        <div class="event">
          <div class="label">
            <i class="<%= icone_evenement(evenement.label) %> icon"></i>
          </div>
          <div class="content">
            <div class="summary">
              <%= evenement %>
              <div class="date"><%= l(evenement.quand, format: :short) %></div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
