<div class="ui grid">
  <div class="twelve wide column">
  <div class="ui card">
    <div class="content">
      <div class="header"><%= @projet.usager %></div>
      <div class="meta"><%= @projet.adresse %></div>
      <div class="meta"><%= @projet.email %></div>
      <div class="description"><%= @projet.description %></div>
      <%= link_to t('projets.visualisation.lien_edition_projet'), edit_projet_path(@projet), class: "ui primary button" %>
      <%= link_to t('projets.visualisation.lien_ajout_occupant'), new_projet_occupant_path(@projet), class: "ui primary button" unless Rails.env.production? %>
    </div>
  </div>

  <% if @projet.intervenants.present? %>
  <h4 class="ui horizontal divider header">Intervenants</h4>
  <div class="ui cards invites">
    <% @projet.intervenants.each do |intervenant| %>
    <div class="card">
      <div class="content">
        <div class="header"><%= intervenant.raison_sociale %></div>
        <div class="meta"><%= intervenant.type %></div>
        <div class="description"><%= intervenant.adresse_postale %></div>
      </div>
      <div class="extra content">
        <% intervenant.themes.each do |theme| %>
          <div class="ui label"><%= theme %></div>
        <% end if intervenant.themes.present? %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <% if @intervenants_departement.present? %>
  <h4 class="ui horizontal divider header">Intervenants disponibles</h4>
  <div class="ui cards disponibles">
    <% @intervenants_departement.each do |intervenant| %>
    <div class="ui card">
      <div class="content">
        <div class="header"><%= intervenant.raison_sociale %></div>
        <div class="meta"><%= intervenant.type %></div>
        <div class="description"><%= intervenant.adresse_postale %></div>
      </div>
      <div class="extra content">
        <% intervenant.themes.each do |theme| %>
          <div class="ui label"><%= theme %></div>
        <% end if intervenant.themes.present? %>
      </div>
      <div class="extra content">
        <%= link_to t('projets.visualisation.invitation_intervenant'), new_invitation_path(@projet, intervenant.id), class:"ui basic green button" %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <h4 class="ui horizontal divider header"><i class="map icon"></i> Carte</h4>
  <div class="ui container eight wide column">
  <div id="mapid"></div>
  </div>
  </div>
  <div class="four wide column">
    <h2>Fil d'actualité</h1>
      <div class="ui feed">
        <% @projet.evenements.each do |evenement| %>
        <div class="event">
          <div class="label">
            <i class="<%= icone_evenement(evenement.label) %> icon"></i>
          </div>
          <div class="content">
            <div class="summary">
              <%= t(evenement.label, scope: 'evenements', intervenant: evenement.intervenant.try(:raison_sociale)) %>
              <div class="date"><%= l(evenement.quand, format: :short) %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


