<!DOCTYPE html>
<html>
<head>
  <title>ANAH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

  <%= render "shared/head" %>
</head>
<body>
  <%= render 'shared/menu' %>
  <%= render "shared/messages" %>
  <div class="ui container top">
    <%= yield %>
  </div>
</body>
</html>
