<!DOCTYPE html>
<html>
<head>
  <title>MPAL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render "shared/head" %>
</head>
<body>
  <%= render "shared/menu" %>
  <%= yield %>

</body>
</html>
